@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .com-content {
        @apply w-full py-24 grid place-items-center;
    }

    .com-container {
        @apply max-w-[1400px] w-11/12 mx-auto
            md:w-5/6;
    }

    .com-block {
        @apply bg-slate-50 rounded-2xl shadow-md;
    }

    .com-title {
        @apply text-4xl text-center font-bold;
    }

    .com-btn-pill {
        @apply w-fit px-6 py-1.5 font-bold text-white whitespace-nowrap rounded-full opacity-90 transition
            hover:opacity-100;
    }

    .com-text-gradient {
        width: fit-content;
        background: -webkit-linear-gradient( 70deg , #0c7edb 0% , #5ec1ff 60% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @font-face {
        font-family: 'futura';
        src: url('./assets/font/futura-medium-bt.ttf');
    };

    .com-font-futura {
        font-family: 'futura';
    }

    /* scrollbar */

    .com-scrollbar {
        @apply overflow-auto resize-none;
    }

    .com-scrollbar::-webkit-scrollbar {
        @apply bg-transparent w-1 h-1
            md:w-2 md:h-2;
    };

    .com-scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-full opacity-50 bg-slate-300;
    };

    .com-mask-image {
        -webkit-mask-image: -webkit-radial-gradient(white, black);
    };

    /* 讀取畫面 */
    @keyframes fadein {
        0%   { opacity: 0% }
        100% { opacity: 100% }
    };
    .com-animate-fadein {
        animation: fadein 400ms linear 1 backwards
    };
}

@layer components {

    /* ----------------------------------------------------------------------
        load
    ---------------------------------------------------------------------- */
    #load.--hide {
        @apply opacity-0 pointer-events-none;
    };

    /* ----------------------------------------------------------------------
        header
    ---------------------------------------------------------------------- */

    /* nav */
    .com-header-link {
        @apply block px-4 py-1 w-fit text-slate-500 transition
            hover:text-sky-500;
    }

    /* headerBurger */
    #headerBurger {
        @apply relative h-6 w-6;
    }
    #headerBurger > span {
        @apply bg-slate-400 h-0.5 transition absolute left-0 right-0 top-0 bottom-0 m-auto pointer-events-none;
    };

    #headerBurger > span:nth-child( 1 ) {
        @apply translate-y-2;
    };
    #headerBurger > span:nth-child( 3 ) {
        @apply -translate-y-2;
    };

    #header.--open > div > #headerBurger > span:nth-child( 1 ) {
        @apply translate-y-0 rotate-45;
    };
    #header.--open > div > #headerBurger > span:nth-child( 2 ) {
        @apply opacity-0;
    };
    #header.--open > div > #headerBurger > span:nth-child( 3 ) {
        @apply -translate-y-0 -rotate-45;
    };

    /* ----------------------------------------------------------------------
        banner
    ---------------------------------------------------------------------- */
    #banner.--hide > div > div > p {
        @apply translate-y-4 opacity-0;
    };
    
    #banner.--hide > div > #bannerImg {
        @apply translate-x-4 opacity-0;
    };

    .com-banner-btn {
        @apply w-2 h-2 border border-slate-50 border-solid rounded-full;
    }

    .com-banner-btn.--click {
        @apply bg-slate-50;
    };

    /* ----------------------------------------------------------------------
        service
    ---------------------------------------------------------------------- */
    .com-service {
        @apply flex flex-col gap-8 items-center p-2
            sm:gap-12 sm:p-8;
    }

    /* 圖片 */
    .com-service > img {
        @apply w-full rounded-lg
            lg:w-1/2;
    }

    /* 內文 */
    .com-service > div {
        @apply w-full flex flex-col gap-8 p-6
            sm:gap-12;
    }

    .com-service > div > h3 {
        @apply text-4xl text-sky-500
            sm:text-5xl;
    }

    .com-service > div > p {
        @apply leading-loose text-lg text-slate-500;
    }

    /* 使用工具 */
    .com-service > div > ul {
        @apply flex flex-row flex-wrap gap-5;
    }

    .com-service > div > ul > li {
        @apply w-8 h-8;
    }

    /* ----------------------------------------------------------------------
        flow
    ---------------------------------------------------------------------- */
    .com-flow {
        @apply relative px-8 py-12 flex flex-col items-center justify-start gap-4 drop-shadow-md
            !shadow-none;
    }

    .com-flow:not( :last-child ):before {
        @apply absolute bg-inherit rotate-45 rounded -z-10;
        content: '';
        --size: 2.5rem;
        width:  var( --size );
        height: var( --size );
        bottom: calc( var( --size ) / -4 );
        right:  calc( 50% - var( --size ) / 2 );
    }

    @media ( min-width: 640px ) {
        .com-flow:not( :last-child ):before {
            bottom: calc( 50% - var( --size ) / 2 );
            right:  calc( var( --size ) / -4 );
        }
    }

    .com-flow > i {
        @apply w-20 h-20 flex justify-center items-center text-4xl text-sky-300 bg-sky-100 rounded-full;
    }

    .com-flow > h3 {
        @apply text-2xl text-center font-bold text-sky-500;
    }

    .com-flow > ul {
        @apply w-full ml-3 text-lg leading-loose -indent-4 text-slate-500;
    }

    .com-flow > ul > li::before {
        content: '•';
        @apply text-sky-400 mr-2 font-bold;
    }

    .com-flow > ul > li {
        @apply mt-2;
    }

    /* ----------------------------------------------------------------------
        project
    ---------------------------------------------------------------------- */

    /* projectKind */
    .com-project-kind {
        @apply bg-slate-400
    }

    .com-project-kind:hover,
    .com-project-kind.--click {
        @apply bg-sky-500
    }

    /* projectBlog */
    .com-project-blog {
        @apply relative aspect-1 bg-center bg-cover overflow-hidden;
    }

    .com-project-blog > button {
        @apply w-full h-full absolute left-0 top-0 right-0 bottom-0 flex justify-center items-center flex-col gap-4 bg-black/80 text-white opacity-0 transition
            hover:opacity-100;
    }

    .com-project-blog > button > h4 {
        @apply text-3xl font-bold pointer-events-none;
    }

    .com-project-blog > button > p {
        @apply text-lg pointer-events-none;
    }

    /* projectModal */
    .com-project-modal-img-page{
        @apply w-2 h-2 rounded-full bg-white opacity-50;
    }

    .com-project-modal-img-page.--click{
        @apply opacity-100
    }

    /* ------------------------------------------------------------
        contact
    ------------------------------------------------------------ */
    .com-contact-link {
        @apply w-10 h-10 rounded-full opacity-80 transition
            hover:opacity-100;
    }

    .com-contact-form {
        @apply w-full flex flex-col gap-1;
    };

    .com-contact-form > input,
    .com-contact-form > textarea {
        @apply p-2 text-slate-800 bg-slate-200 rounded
            placeholder:text-slate-400
            focus:outline-none;
    }

    #contactSubmit.--load {
        @apply pointer-events-none;
    };

    #contactSubmit.--load > span {
        @apply hidden;
    };

    #contactSubmit.--load > img {
        @apply block;
    };

        /* modal */
        .com-modal {
            @apply fixed left-0 top-0 right-0 bottom-0 z-50 grid place-items-center bg-black/75 opacity-0 pointer-events-none transition duration-200;
        };

        .com-modal > div {
            @apply relative w-5/6 max-w-7xl h-[80vh] flex flex-row overflow-hidden rounded-2xl translate-y-40 transition duration-200
        }
    
        .com-modal.--show {
            @apply opacity-100 pointer-events-auto;
        };
    
        .com-modal.--show > div {
            @apply translate-y-0;
        };
    
        #projectModalLink.--hide {
            @apply hidden;
        };
    
        .com-projectModalImgPage {
            @apply w-2 h-2 rounded-full bg-white bg-opacity-50;
        };
    
        .com-projectModalImgPage.--click {
            @apply bg-opacity-100;
        };
}